.navbar-top-dark {
    background-color: #202b8c;
}

.bg-image {
    background-image: url("../images/ohrid.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.button-padding {
    padding-top: 35%;
}

.front-img {
    width: 100%;

}